@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 235, 235, 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 100, 100, 100;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(50, 50, 50)
}
